---
import Slider from "../../components/Slider.astro";
import Arrow from "../../components/icons/Arrow.astro";
import Btn from "../../components/Btn.astro";

interface ImagesArrayItem {
  src: string;
  alt: string;
  // Otras propiedades relacionadas con la imagen
}
interface Props {
  projectTitle: string;
  projectCategory: string;
  images: ImagesArrayItem[];
  projectDetails: { dir: string; prod: string; writt: string };
}

const { projectTitle, images, projectCategory, projectDetails } = Astro.props;
---

<article class="project">
  <header class="project__header">
    <Btn text="back" url="/" id="prev"><Arrow slot="left" /></Btn>
    <h1 class="title">{projectTitle}</h1>
    <span class="subtitle">{projectCategory}</span>
  </header>

  <Slider images={images} />
  <footer class="project__details">
    <p>
      <span>dir / {projectDetails.dir}</span><span
        >prod / {projectDetails.prod}</span
      ><span>writt / {projectDetails.writt}</span>
    </p>
  </footer>
</article>

<style>
  .project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 1rem;
  }

  .project__header {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    flex: 1 1 10%;
    align-self: self-start;
  }
  .project__header h1 {
    order: 2;
  }
  .project h2 {
    order: 1;
  }

  .project__details {
    padding: 0 5%;
    animation: fade-in 1.5s linear 1 1.8s forwards;
    opacity: 0;
    flex: 1 1 10%;
  }
  .project__details p {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
  }
  .project__details span {
    font-size: 1.6rem;
    line-height: normal;
  }
  .project__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: min(600px, 90%);
  }
  .trigger-proj {
    display: flex;
    gap: 1rem;
  }

  /* responsive */
  @media (max-width: 800px) {
    .project {
      gap: 3rem;
    }
    .project__details p {
      gap: 2rem;
    }
    .project__controls {
      margin-bottom: 2rem;
    }
  }

  /* Animaciones */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
